.refresh{
    background-color: #49a6e9;
    color: white;
    padding: 7px 15px;
    font-size: 25px;
    border: 0px;
    border-radius: 5px;
}
.travelh1{
    font-size: 40px;
    color: #102a42;
    margin-bottom: 10px;
    margin-top: 50px;
}